name: Build i push a Docker Hub

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del codi
        uses: actions/checkout@v4

      - name: Login a Docker Hub
        uses: docker/login-action@v3
        with:
          username: "antonimoragues"
          password: "dckr_pat_U_sAEB-vtMZqrDSg1hnfiByCptw"

      - name: Build i push de la imatge
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: antonimoragues/prova:1.5
